body{
    /* Logo Font */
    font-family: 'Shrikhand', cursive;   
    /* Title Font */
    font-family: 'Assistant', sans-serif;
    /* Default Text */
    font-family: 'Oranienbaum', serif;
}
a{
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
}
h2,h3,h4,h5,h6{
    font-family: 'Assistant', sans-serif;
}
p{
    font-size: 15px;
}


.vhWrapper{
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(255,229,180);
    background: -webkit-linear-gradient(0deg, rgba(255,246,229,1) 0%, rgba(230,98,85,1) 100%);
    background: linear-gradient(0deg, rgba(255,246,229,1) 0%, rgba(230,98,85,1) 100%);
}

.vhWrapper-tablet{
    height:100vh;
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255,229,180);
    background: -webkit-linear-gradient(0deg, rgba(255,246,229,1) 0%, rgba(230,98,85,1) 100%);
    background: linear-gradient(0deg, rgba(255,246,229,1) 0%, rgba(230,98,85,1) 100%);
}
/* Header */

.main-header{
    display: flex;
    justify-content: space-between;
    z-index: 10;
    height: 60px;
    align-items: center;
    padding: 0 5vw;
}
.main-header.nav-background{
    background: #e66255;
}
.main-header a{
    z-index: 10;
}
.main-logo{
    height: 20px;
    z-index: 10;
}

.nav-toggle{
    width: 30px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.line{
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    border-radius: 2px;
    transition: transform 300ms;
}
.line.one{
    transform: translateY(-8px);
}

.line.three{
    transform: translateY(8px);
}
.nav-toggle.open .line.one{ 
    transform: translateY(0) rotate(45deg);
}
.nav-toggle.open .line.two{ 
    display: none
}
.nav-toggle.open .line.three{ 
    transform: translateY(0) rotate(-45deg);
}
.gb-nav{
    display: none;
    position: absolute;
    background: #e66255;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
}

.gb-nav.open{
    display: flex;
}
.gb-nav ul{
    text-align: center;
    flex-basis: 50%;
}
.gb-nav li{
    margin: 25px 0;
}
.gb-nav li .nav-link{
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}

/* */
.mobileApp{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}
.mobileApp .downloadText{
    color: #fff;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
.mobileApp .mobileDownloadApp img{
    height: 30px;
    margin: 0 5px;

}

.mobileApp a{
    margin-top: 50px;
    color: #fff;
    text-align: center;
    text-decoration: underline;
    font-size: 8px;
}

/*-------------HEADER MEDIA QUERIES -------------*/

/*header mobile*/
.main-header.mobile{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5vw;
}
.gb-nav.mobile li .nav-link{
    font-size: 30px;
}
.mobileApp.mobile{
    padding: 50px 0;
}
h4.downloadText.mobile{
    margin-bottom: 20px;
    font-size: 15px;
}
div.mobileDownloadApp.mobile img{
    height: 35px;
}

.mobileApp.mobile a{
    margin-top: 40px;
    font-size: 10px;
}
/*header tablet*/
.main-header.tablet{
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 5vw;
}
.main-logo.tablet{
    height: 25px;
}
.gb-nav.tablet ul{
    flex-basis: 40%;
}
.gb-nav.tablet li{
    margin: 25px 0;
}
.gb-nav.tablet li .nav-link{
    font-size: 32px;
}
h4.downloadText.tablet{
    font-size: 18px;
}
div.mobileDownloadApp.mobile img{
    height: 37px;
}
.mobileApp.mobile a{
    margin-top: 45px;
    font-size: 12px;
}
/*header laptop*/
 .main-logo.laptop {
    max-width: 180px;
    min-height: 30px;
    object-fit: contain;
}

.main-header.laptop {
    height:100px;
    display: flex;
    align-items: center;
    padding: 0 5vw;
}

.gb-nav.laptop {
    position:relative;
    display: flex;
    flex-direction: row;
    background: none;
    z-index: 1;
    max-height: 100%;
    align-items: center;
}

.gb-nav.laptop ul {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    align-items: flex-end; 
    justify-content: flex-end;
}
.gb-nav.laptop li{
    margin: 0;
    max-width: 30vw;
}
.gb-nav.laptop li:nth-child(1) {
    margin-right:20px;
}

.gb-nav.laptop li .nav-link.laptop{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFD88F;
}

/*header desktop*/
.main-logo.desktop {
    max-width: 200px;
    min-height: 40px;
    object-fit: contain;
}

.main-header.desktop{
    align-items: center;
    height: 110px;
    padding: 0 10vw;
}

.gb-nav.desktop {
    position:relative;
    display: flex;
    flex-direction: row;
    background: none;
    z-index: 1;
    max-height: 100%;
    align-items: center;
}

.gb-nav.desktop li:nth-child(1) {
    margin-right:35px;
}

.gb-nav.desktop ul {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    align-items: flex-end; 
    justify-content: flex-end;
    justify-content: space-between;
}
.gb-nav.desktop li .nav-link.desktop{
    font-family: 'Poppins';
    font-size: 20px;
    color: #FFD88F;
}



/* Banner */

.banner-wrapper {
    height: 100%;
}
.banner{
    height: calc(85vh - 60px);
    padding: 50px 10vw 0;
}
.banner .left-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner h2{
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.2;
}
.banner p{
    font-size: 12px;
    text-align: center;
    font-family: 'Oranienbaum', serif;
    font-weight: 500;
}
/* .banner img{
    width: 100%;
} */
.banner .right-col.home-banner-img{
    width: 100%;
}
.banner .hero-download{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}
.banner .hero-download a{
    margin: 0 5px
}
.banner .hero-download img{
    height: 25px;
}

/*-------- BANNER MEDIA QUERIES --------- */

/* mobile banner */
.banner.mobile{
    height: calc(85vh - 80px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner.mobile h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.banner.mobile p{
    font-size: 18px;
    width: 70%;
    line-height: 1.3;
    text-align: center;
}
/* .banner.mobile img{
    margin: 0 auto;
} */
.banner.mobile .hero-download{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.banner.mobile .hero-download img{
    height: 35px;
}
/* tablet banner */
.banner.tablet{
    padding: 25px 10vw 0;
    height: calc(100vh - 90px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.banner.tablet .left-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner.tablet h2{
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.2;
}
.banner.tablet p{
    font-size: 24px;
    width:87%;
    text-align: center;
}
.banner.tablet .hero-download{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}
.banner.tablet .hero-download a{
    margin: 15px 10px;
}
.banner.tablet .hero-download img{
    height: 40px;
}
/* laptop.laptop banner */

.banner.laptop{
    padding: 50px 5vw 0;
    height:calc(100vh - 100px);
    overflow: hidden;
    display:flex;
}
.banner.laptop .left-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}

.banner.laptop .right-col {
    flex:1.2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
}
.banner.laptop h2{
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
    line-height: 1.2;
}
.banner.laptop p{
    font-size: 18px;
    text-align: left;
    line-height: 1.2;
}
.banner.laptop img{
    object-fit: contain;
}
.banner.laptop .hero-download{
    display: flex;
    align-self: flex-start;
    justify-content: space-around;
    padding: 25px 0;
}
.banner.laptop .hero-download a{
    margin: 0px 20px;
}
.banner.laptop .hero-download img{
    height: 40px;
}
.banner.laptop .home-banner-img{
    width: 100%;
    max-height: 100%;
}
.banner.laptop .right-col::after{
    content: "";
    position: absolute;
    top: 80%;
    z-index: -1;
    left: -100%;
    height: 100%;
    width: 120vw;
    background: #fff;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    transform: rotate(-7deg);
}
/* desktop.desktop banner */

.banner.desktop .right-col::after{
    content: "";
    position: absolute;
    top: 70%;
    z-index: -1;
    left: -150%;
    height: 100%;
    width: 120vw;
    background: #fff;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    transform: rotate(-7deg);
}
.banner.desktop{
    padding: 25px 10vw 0;
    height: calc(100vh - 110px);
    flex-wrap: wrap;
    overflow: hidden;
    display:flex;
    align-items: space-between;
}
.banner.desktop .banner-wrapper {
    height: calc(100vh - 110px);
}
.banner.desktop .left-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}

.banner.desktop .right-col {
    flex:1;
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 100%;
}
.banner.desktop img{
    max-height: 100%;
    width: 90%;
}
.banner.desktop h2{
    margin-top:30px;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
    line-height: 1.2;
    width: 90%;
    align-self: flex-start;
}
.banner.desktop p{
    font-size: 20px;
    text-align: left;
    line-height: 1.3;
    width: 85%;
    font-weight: 500;
    align-self: flex-start;
}
.banner.desktop img{
    object-fit: contain;
}
.banner.desktop .hero-download{
    display: flex;
    align-self: flex-start;
    justify-content: space-around;
    padding: 25px 0;
}
.banner.desktop .hero-download a{
    margin: 15px 20px;
}
.banner.desktop .hero-download img{
    height: 50px;
    width: auto;
} 

/* Features */
.features{

}
.features .item:nth-child(2){
    background: #F9D8D5;
}
.features .item{
    padding: 20px;
    background: #FFF6E5;
}
.features .item .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item .row .left-col{
    flex-basis: 50%;
}
.item .row .right-col{
    flex-basis: 50%;
}
.features h4:nth-child(2){
    color: #FFF6E5;
}
.features h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: #e66255;
    display: block;
    width: 100%;
    text-align: left;
}
.features p {
    font-size: 12px;
}
.features img{
    width: 40%;
    max-height: 200px;
    object-fit: contain;
}

/*features mobile*/
.features.mobile .item{
    padding: 26px;
}
.features.mobile h4{
    font-size: 30px;
    margin-left:7%;
    margin-bottom: 20px;
}
.features.mobile p{
    font-size: 18px;
}
.features.mobile img{
    max-height: 200px;
}

.features.tablet .item{
    padding: 35px 50px;

}
.features.tablet h4{
    font-size: 30px;
    width: 50%;
    margin-left:10%;
    margin-bottom: 20px;
}
.features.tablet p{
    font-size: 20px;
}
.features.tablet img {
    max-height: 220px;
}

.features.laptop{
    display: flex;
    padding: 20px 0;
}
.features.laptop .item{
    padding: 35px 50px;
    width: 33.33%;
    background: transparent;
}
.features.laptop .item .row{
    flex-direction: column;
}
.features.laptop h4{
    font-size: 32px;
    margin-bottom: 20px;
    width: 100%;
    margin-left:0;
    text-align: center;
}
.features.laptop img{
    width: 75%;
    margin-bottom: 15px;
    padding: 10px 0;
}
.features.laptop p{
    font-size: 18px;
}

.features.laptop img{
    max-height: 240px;
}

.features.desktop{
    display: flex;
    padding: 100px 10vw;
}
.features.desktop .item{
    padding: 35px 50px;
    width: 33.33%;
    background: transparent;
    display: flex;
    flex-direction: column;
}
.features.desktop .item .row{
    flex-direction: column;
}
.features.desktop h4{
    font-size: 40px;
    margin-bottom: 40px;
    width: 100%;
    margin-left:0;
    text-align: center;
}
.features.desktop img{
    width: 75%;
    margin-bottom: 30px;
}
.features.desktop p{
    font-size: 24px;
}

.features.desktop img{
    max-height: 240px;
}

.css-view-1dbjc4n{
    position: static;
}

.css-1dbjc4n{
    position: static;
}


/* ------------ SUPPORT PAGE -------------- */
.support-banner{
    background-image: -webkit-linear-gradient(to bottom, rgba(255,246,229,.3), rgba(230,98,85,.3)), url('../assets/img/support-hero.webp');
    background-image: linear-gradient(to bottom, rgba(255,246,229,.3), rgba(230,98,85,.3)), url('../assets/img/support-hero.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    padding-bottom: 18px;
}
.support-banner h2{
    font-size: 24px;
    color: white;
    text-shadow: 4px 1px 3px #23232340;
    
}
.support-banner.mobile{
    height: 350px;
    padding-bottom: 30px;
}
.support-banner.mobile h2{
    font-size: 50px;
}

.support-banner.tablet{
    height: 350px;
    padding-bottom: 32px;
}
.support-banner.tablet h2{
    font-size: 75px;
}

.support-banner.laptop{
    height: 400px;
    padding-bottom: 40px;
}
.support-banner.laptop h2{
    font-size: 90px;
}

.support-banner.desktop{
    height: 400px;
    padding-bottom: 45px;
}
.support-banner.desktop h2{
    font-size: 90px;
}


.faq-header{
    padding: 20px;
}
.faq-header h3{
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}
.faq-header p{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.faq-header.mobile{
    padding: 25px;
}
.faq-header.mobile h3{
    font-size: 40px;
    margin-bottom: 20px;
}
.faq-header.mobile p{
    width: 85%;
    font-size: 18px;
}

.faq-header.tablet{
    padding: 60px;
}
.faq-header.tablet h3{
    font-size: 50px;
    margin-bottom: 22px;
}
.faq-header.tablet p{
    width: 80%;
    font-size: 24px;
}

.faq-header.laptop{
    padding: 40px 5vw;
}
.faq-header.laptop h3{
    font-size: 35px;
    margin-bottom: 20px;
}
.faq-header.laptop p{
    width: 100%;
    font-size: 24px;
}

.faq-header.desktop{
    padding: 40px 15vw;
}
.faq-header.desktop h3{
    font-size: 35px;
    margin-bottom: 20px;
}
.faq-header.desktop p{
    width: 100%;
    font-size: 24px;
}


.faq-accordion{
    padding: 20px;
}
.faq-accordion h4{
    color: #E66255;
    font-size: 20px;
}
.faq-accordion p{
    font-family: 'Oranienbaum', serif;
}
.accordion__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}
.accordion__title {
  font-size: 14px;
  text-align: left;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}
.accordion__content {
  overflow: auto;
  transition: max-height 0.6s ease;
}

.accordion__text {
  padding: 18px;
}

.faq-accordion.mobile{
    padding: 35px;
}
.faq-accordion.mobile h4{
    color: #E66255;
    font-size: 25px;
}
.faq-accordion.mobile p{
    font-family: 'Oranienbaum', serif;
    font-size: 18px;
}

.faq-accordion.tablet{
    padding: 0 60px 50px; 
}
.faq-accordion.tablet h4{
    color: #E66255;
    font-size: 30px;
}
.faq-accordion.tablet p{
    font-family: 'Oranienbaum', serif;
    font-size: 24px;
    padding: 10px 60px 30px 30px;
}
.faq-accordion.tablet .accordion{
    padding: 25px 30px;
}

.faq-accordion.laptop{
    padding: 0 5vw 50px; 
}
.faq-accordion.laptop h4{
    color: #E66255;
    font-size: 32px;
}
.faq-accordion.laptop p{
    font-family: 'Oranienbaum', serif;
    font-size: 24px;
    padding: 10px 70px 50px 30px;
}
.faq-accordion.laptop .accordion{
    padding: 25px 30px;
}

.faq-accordion.desktop{
    padding: 0 15vw 50px; 
}
.faq-accordion.desktop h4{
    color: #E66255;
    font-size: 32px;
}
.faq-accordion.desktop p{
    font-family: 'Oranienbaum', serif;
    font-size: 24px;
    padding: 10px 80px 50px 30px;
}
.faq-accordion.desktop .accordion{
    padding: 25px 30px;
}














/*Footer*/
.main-ft{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #e66255;
    font-style: normal;
    padding: 2vh 3vw;
    color: #fff;
  }
.main-ft h3 {
    font-size: 18px;
    line-height: 24px;
    color:white;
}
.main-ft .download-btns{
    display:flex;
    justify-content: center;
    margin: 15px 0;
}
.main-ft .download-btns img {
    padding: 0 5px;
    height: 20px;
}
.main-ft p {
    font-family: 'Assistant', sans-serif;
    font-size: 10px;
    line-height: 13px;
}
.main-ft a {
    font-weight: 400;
    margin-top:8px;
    font-size: 8px;
    line-height: 10px;
    text-decoration: underline;
    color: #fff;
}

/*Footer mobile*/
.main-ft.mobile{
    padding: 3vh 3vw;
    color: #fff;
  }
.main-ft.mobile h3 {
    font-size: 20px;
}
.main-ft.mobile .download-btns{
    display:flex;
    justify-content: center;
    margin: 20px 0;
}
.main-ft.mobile .download-btns img {
    padding: 0 5px;
    height: 30px;
}
.main-ft.mobile p {
    font-size: 12px;
    line-height: 15px;
}
.main-ft.mobile a {
    margin-top:10px;
    font-size: 9px;
}


/*Footer tablet*/
.main-ft.tablet{
    padding: 4vh 3vw;
  }
.main-ft.tablet h3 {
    font-size: 20px;
}
.main-ft.tablet .download-btns{
    margin: 20px 0;
}
.main-ft.tablet .download-btns img {
    padding: 0 5px;
    height: 35px;
}
.main-ft.tablet p {
    font-size: 13px;
    line-height: 16px;
}
.main-ft.tablet a {
    margin-top:11px;
    font-size: 10px;
}


/*Footer laptop*/
.main-ft.laptop{
    padding: 5vh 3vw;
  }
.main-ft.laptop h3 {
    font-size: 22px;
    line-height: 26px;
}
.main-ft.laptop .download-btns{
    margin: 25px 0;
}
.main-ft.laptop .download-btns img {
    padding: 0 7px;
    height: 35px;
}
.main-ft.laptop p {
    font-size: 14px;
    line-height: 16px;
}
.main-ft.laptop a {
    font-size: 10px;
    line-height: 12px;
}


/*Footer mobile*/
.main-ft.desktop{
    padding: 6vh 3vw;
  }
.main-ft.desktop h3 {
    font-size: 24px;
    line-height: 27px;
}
.main-ft.desktop .download-btns{
    margin: 15px 0;
}
.main-ft.desktop .download-btns img {
    padding: 0 10px;
    height: 40px;
}
.main-ft.desktop p {
    font-size: 15px;
    line-height: 18px;
}
.main-ft.desktop a {
    margin-top:12px;
    font-size: 11px;
}


/* Partners and Reviews headings */

.partners h3{
    font-weight: 700;
    font-size: 26px;
    color:#e66255;
    z-index: 1;
    margin: 0 auto 10px;
    position: relative;
    display: flex;
    justify-content: center;

}
.partners h3:after{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #F9D8D5;
    content: "";
    bottom: -10px;
    width: 80%;
    height:20px;
    z-index: -1;
}

/* Partners */

.partners {
    padding: 20px;
    margin-top:2vh;
}
.partners .brands{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.partners .brands img {
    width: 50%;
    padding: 10px 10px;
}

/* Partners mobile */

.partners.mobile {
    padding: 25px;
}
.partners.mobile .brands{
    margin-top: 15px;
}
.partners.mobile .brands img {
    width: 30%;
    padding: 20px 10px;
}

/* Partners tablet */

.partners.tablet {
    padding: 25px 5vw;
}
.partners.tablet .brands{
    margin-top: 15px;
}
.partners.tablet .brands img {
    width: 30%;
    padding: 20px 20px;
}

/* Partners laptop */

.partners.laptop {
    padding: 25px 7vw;
}
.partners.laptop .brands{
    margin-top: 50px;
    margin-bottom: 30px;
}
.partners.laptop .brands img {
    width: 20%;
    padding: 20px 20px;
}

/* Partners desktop */

.partners.desktop {
    padding: 100px 10vw;
}
.partners.desktop .brands{
    margin-top: 70px;
}
.partners.desktop .brands img {
    width: 20%;
    padding: 20px 25px;
}



/* Reviews */

.partners {
    padding: 20px 0;
}

.reviews h3, .partners h3{
    font-weight: 700;
    font-size: 26px;
    color:#e66255;
    z-index: 1;
    margin: 2vh auto 5vh;
    position: relative;
    display: flex;
    justify-content: center;

}
.reviews h3:after, .partners h3:after {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #F9D8D5;
    content: "";
    bottom: -10px;
    width: 70vw;
    height:20px;
    z-index: -1;
}

.review-box {
    min-width: 80vw;
    max-width: 80vw;
    display:'flex';
    flex-direction: 'column';
    align-items: center;
    margin:20px 12px; 
    padding: 5px 20px 0px 20px;
    box-shadow: 2px 2px 3px 2px rgba(235, 235, 235, 0.9);
    border-radius: 11px;
}
.review-wrapper{
    margin-top:30px;
    display: flex;
    flex-direction:column;
    flex:1;
    align-items: center;
}
p.review {
    font-family: 'Oranienbaum';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height:17px;
}
.reviewer .goldfish {
    max-width: 20px;
    max-height:20px;
    margin-right:8px;
}
.reviewer p {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;    
    white-space: nowrap;
    font-size:12px;
}
.reviewer {
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding-top:30px;
    padding-bottom:20px;
}

/* Reviews mobile */

.reviews.mobile h3:after, .partners.mobile h3:after {
    bottom: -10px;
    width: 60vw;
    height:22px;
}
.reviews.mobile h3, .partners.mobile h3{
    font-size: 30px;
}
.mobile .review-box {
    min-width: 60vw;
    max-width: 60vw;
    margin:20px 12px 10vh 12px; 
    padding: 10px 30px 0px 30px;
}
.mobile p.review {
    font-size: 16px;
    line-height:20px;
}
.mobile .reviewer .goldfish {
    max-width: 35px;
    max-height:35px;
    margin-right:10px;
}
.mobile .reviewer p {
    font-size:14px;
}
.mobile .reviewer {
    padding-top:35px;
    padding-bottom:20px;
}

/* Reviews mobile */

.reviews.tablet h3:after, .partners.tablet h3:after {
    bottom: -10px;
    width: 50vw;
    height:24px;
}
.reviews.tablet h3, .partners.tablet h3{
    font-size: 34px;
    margin-bottom:30px;
}
.tablet .review-box {
    min-width: 50vw;
    max-width: 50vw;
    margin:20px 25px 13vh 25px; 
    padding: 15px 35px 0px 35px;
}
.tablet p.review {
    font-size: 18px;
    line-height:23px;
}
.tablet .reviewer .goldfish {
    max-width: 45px;
    max-height:45px;
    margin-right:15px;
}
.tablet .reviewer p {
    font-size:14px;
}
.tablet .reviewer {
    padding-top:40px;
    padding-bottom:20px;
}

/* Reviews laptop */
.reviews.laptop .row {
    display:flex;
    justify-content:space-around;
    padding: 0 30px;
}
.reviews.laptop {
    margin-top:5vh;
}
.reviews.laptop h3:after, .partners.laptop h3:after {
    bottom: -10px;
    width: 40vw;
    height:24px;
}
.reviews.laptop h3, .partners.laptop h3{
    font-size: 38px;
    margin-bottom:30vh;
}
.laptop .review-box {
    margin:30px 15px 13vh 15px; 
    min-width: 28vw;
    max-width: 28vw;
    padding: 15px 20px 0px 25px;
}
.laptop p.review {
    font-size: 17px;
    line-height:23px;
}
.laptop .reviewer .goldfish {
    max-width: 45px;
    max-height:45px;
    margin-right:15px;
}
.laptop .reviewer p {
    font-size:12px;
}
.laptop .reviewer {
    padding-top:40px;
    padding-bottom:20px;
}
/* Reviews desktop */
.reviews.desktop {
    padding:100px 10vw;
}
.reviews.desktop .row {
    display:flex;
    justify-content:space-between;
    max-width: 80vw;
}
.reviews.desktop h3:after, .partners.desktop h3:after {
    bottom: -10px;
    width: 30vw;
    height:26px;
}
.reviews.desktop h3, .partners.desktop h3{
    font-size: 50px;
    margin-bottom:7vh;
}
.desktop .review-box {
    margin:20px 15px 13vh 15px; 
    min-width: 23vw;
    max-width: 23vw;
    padding: 10px 25px 0px 25px;
}
.desktop p.review {
    font-size: 20px;
    line-height:25px;
}
.desktop .reviewer .goldfish {
    max-width: 50px;
    max-height:50px;
    margin-right:15px;
}
.desktop .reviewer p {
    font-size:14px;
}
.desktop .reviewer {
    padding-top:40px;
    padding-bottom:20px;
}


/* Small Devices */
@media (min-width: 576px){

}
/* Tablet Devices */
@media (min-width: 768px){

}
/* Laptop Devices */
@media (min-width: 1024px){

}
/* Desktop Devices */
@media (min-width: 1200px){

}

/* ------------ SUBMISSION PAGE -------------- */

.flex-submission {
    display: flex;
    flex-direction: row;
    
}

.sub-form {
    margin: 0 auto;
}

.submission-banner {
    background-image: linear-gradient(0deg, rgba(255,246,229,1) 0%, rgba(230,98,85,1) 100%);
    flex-direction: column;
    display: flex;
    align-items: center;
}

.submission-banner img {
    background-size: fill;
    width: 80%;
    margin: 30px 0;
    background-repeat: no-repeat;
    background-position: center top;
    object-fit:cover;
    object-position: top;
    height: 400px;
}

.submission-banner.mobile img {
    height: 450px;
}

.submission-banner.tablet img{
    height: 500px;
}

.submission-banner.laptop img {
    height: 750px;
    width: 100%;
    margin: 0;
}

.submission-banner.desktop img {
    height: 800px;
    margin: 0;
    width: 100%;
}

.submission-banner.laptop {
    padding: 0;
}

.submission-banner.desktop {
    padding: 0;
}


.theme-color {
    color: #e66255;
}

.submission-form .submission-heading {
    font-family: 'Assistant', sans-serif;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
    margin-top: 10px;
}

.submission-form .submission-heading .suggestions {
    font-size: 20px;
}

.submission-form .submission-heading .help-make-app {
    font-size: 25px;
}

.entry-form .submit-btn {
    margin: 10px auto;
    display: block;
    border-radius: 20px;
    background-image: linear-gradient(0deg, rgba(255,246,229,1) 0%, rgba(230,98,85,1) 100%);
    margin-bottom: 50px;
    padding: 8px 12px;
    color: white;
    border: none;
    font-weight: bold;
}

.entry-form div h4 {
    font-size: 15px;
}

.entry-form {
    padding: 10px;
    padding-top: 0px;
}

.entry-form div{
display: flex;
flex-direction: column;
justify-content: center;
}

.entry-form div textarea[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
    box-sizing: border-box;
  }


.submission-heading.mobile, .submission-heading.tablet {
    font-size: 20px;
}
.submission-heading.laptop, .submission-heading.desktop{
    font-size: 25px;
}

.submission-form #dishes {
    width: 100%;
}

.submission-form.mobile #dishes, .submission-form.tablet #dishes {
    width: 100%;
}


.submission-form.laptop #dishes, .submission-form.desktop #dishes {
    width: 100%;
}
form input::placeholder{
    font-family: 'Assistant';
    color:#e66255;
}
.entry-form div {
    padding: 10px 0;
}
.entry-form .agree-box h3 {
    padding-left: 10px;
    font-weight: 600;
}

.submission-form .entry-form{
    padding: 20px 5vw;
}
.submission-form .agree-box {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.entry-form .agree-box h3 {
    padding-left: 10px;
}

#terms-n-conditions{
    height:20px;
    width: 20px;
}

#terms-n-conditions[type="checkbox"]:before{
    width: 20px;
    height: 20px;
}
#terms-n-conditions[type="checkbox"]:after{
    top: -20px;
    width: 16px;
    height: 16px;
}